<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Aplicación Web</title>
  <link rel="stylesheet" href="PaginaPrincipal.component.css"> <!-- Enlace a una hoja de estilos CSS externa -->
</head>
<body class="PaginaPrincipal-body">
  <header class="PaginaPrincipal-header">
    <div class="Header-izquierdo">
      <img style="height: 11vh;width: 6vw;" src="Compu-PaginaPrincipal.png">
      <span style="font-family: sans-serif;font-weight: bold;font-size: 12px;">
        <span style="color: #09C6AB;">CYBER </span>
        <span style="color: yellow;">PROGRAMS</span>
      </span>
    </div>
      
    <div class="Header-derecho">
      <ol class="header-consultas">
        <li class="viñeta-header">Nuestros Servicios</li>
        <li class="viñeta-header">Proyectos</li>
        <li class="viñeta-header">Nosotros</li>
        <li class="viñeta-header">Contáctanos</li>
      </ol>
    </div>
  </header>

  <main class="PaginaPrincipal-main">

  </main>

  <footer class="PaginaPrincipal-footer">
    <div class="footer-izquierdo">
      <img style="width: 10vw; height: 11vh;" src="CP.png">
      <span style="font-size: 18px;color: #7d7d7e;">Síguenos en</span>
      <div style="display: flex;flex-direction: row;">
        <img class="iconos" src="facebook.svg">
        <img class="iconos" src="twitter.svg">
        <img class="iconos" src="instagram.svg">
        <img class="iconos" src="linkedin.svg">
      </div>
    </div>

    <div class="footer-derecho">
      <div class="footer-informacion">
        <span style="font-size: 19px;font-family: sans-serif;">Nuestros Servicios</span>
        <hr style="border: 1px solid #d6d6ec;width: 20vw;">
        <span style="font-size: 19px;font-family: sans-serif;color: #7d7d7e;">UX Design</span>
        <span style="font-size: 19px;font-family: sans-serif;color: #7d7d7e;">UX Consulting</span>
        <span style="font-size: 19px;font-family: sans-serif;color: #7d7d7e;">Development</span>
      </div>

      <div class="footer-informacion">
        <span style="font-size: 19px;font-family: sans-serif;">Legal</span>
        <hr style="border: 1px solid #d6d6ec;width: 20vw;">
        <span style="font-size: 19px;font-family: sans-serif;color: #7d7d7e;">Cookies policy</span>
        <span style="font-size: 19px;font-family: sans-serif;color: #7d7d7e;">Terms & Conditions</span>
        <span style="font-size: 19px;font-family: sans-serif;color: #7d7d7e;">Privacy policy</span>
      </div>
    
      <div class="footer-informacion">
        <span style="font-size: 19px;font-family: sans-serif;">Contacto</span>
        <hr style="border: 1px solid #d6d6ec;width: 20vw;">
        <span style="font-size: 19px;font-family: sans-serif;color: #7d7d7e;">hello&#64;weserve.com</span>
        <span style="font-size: 19px;font-family: sans-serif;color: #7d7d7e;">Av. La Victoria N° 999, Tinguiña, Ica, Perú</span>
        <span style="font-size: 19px;font-family: sans-serif;color: #7d7d7e;">+34 644 00 00 00</span>
      </div>
    </div>
  </footer>

</body>
</html>
